<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <h2><%= @user.name %></h2>
      <p class="row">
        <h2><%= t ".hello", name: @user.name %></h2>
      </p>
    </section>
  </aside>
</div>
