@import "bootstrap-sprockets";
@import "bootstrap";
$pink: #FF99FF;
$rgba-bground: rgba(10, 10, 10, 0.77);
$rgba-border: rgba(238, 238, 238, 0.15);

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}
h1{
 float: center;
 margin-right: 10px;
 padding-top: 9px;
 font-weight: bold;
 text-transform: uppercase;
 text-align: center;
}
.book-show{
  margin-left: 45px;
}

.img-rounded{
  margin-left: 50px;
}
mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid blue;
  color: blue;
  a {
    color: blue;
    &:hover {
      color: black;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: blue;
  }
}

.center{
  width: 10%;
  background-color: $rgba-bground;
  border: 15px ridge $rgba-border;
  border-radius: 5px;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}

.create-tr{
  color: white
}

.name{
  text-align: center;
}

h3{
  color: white;
}
.color-tr{
  color: blue;
}
