<% provide :title, t(".title") %>
<div class="container w3layouts agileits">
  <table class="table">
    <thead>
      <h2><%= t ".title" %></h2>
      <th class="create-tr name"><%= t ".name" %></th>
    </thead>
    <tbody>
      <tr>
        <%= render "categories" %>
      </tr>
    </tbody>
  </table>
  <% if current_user.admin? %>
    <div>
      <%= link_to t(".new_category"), new_category_path %>
    </div>
  <% end %>
</div>
