<% provide :title, t(".title") %>
<% provide :button_text, t(".submit") %>
<h1><%= t ".h1" %></h1>
<div class="container w3layouts agileits">
  <div class="register w3layouts agileits">
    <h2><%= t ".title" %></h2>
    <%= render "form" %>
  </div>
  <div class="clear"></div>
</div>
