<footer class="footer">
  <nav>
  <div class="social-icons w3layouts agileits">
    <ul>
      <li><a href=""><span class="icons w3layouts agileits"></span><span class="text w3layouts agileits"><%= t ".face" %></a></span></li>
      <li class="twt w3ls"><a href=""><span class="icons w3layouts"></span><span class="text w3layouts agileits"><%= t ".twitter" %></a></span></li>
      <div class="clear"> </div>
    </ul>
  </div>
  </nav>
</footer>
