<footer class="footer">
  <nav>
  <div class="social-icons w3layouts agileits">
    <ul>
      <li>
        <a>
          <span class="icons w3layouts agileits"></span>
          <span class="text w3layouts agileits"><%= t ".face" %></span>
        </a>
      </li>
      <li class="twt w3ls">
        <a>
          <span class="icons w3layouts"></span>
          <span class="text w3layouts agileits"><%= t ".twitter" %></span>
        </a>
      </li>
      <div class="clear">
      </div>
    </ul>
  </div>
  <div class="footer w3layouts agileits">
    <p> &copy;<%= t ".copy" %></p>
    <p><%= t ".hello" %></p>
</div>
  </nav>
</footer>
